<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement">
    <contentSearch>
      <indexConfigurations>
        <indexUpdateStrategies>
          <sellableItemsIntervalAsynchronousStrategyMaster set:type="Sitecore.Support.Search.Strategies.SellableItemsIntervalAsynchronousStrategy, Sitecore.Support.322755">
            <param desc="maxMappingReloads">5</param>
            <param desc="itemsToIndexMinThreshold">100</param>
          </sellableItemsIntervalAsynchronousStrategyMaster>

          <sellableItemsIntervalAsynchronousStrategyWeb set:type="Sitecore.Support.Search.Strategies.SellableItemsIntervalAsynchronousStrategy, Sitecore.Support.322755">
            <param desc="maxMappingReloads">5</param>
            <param desc="itemsToIndexMinThreshold">100</param>
          </sellableItemsIntervalAsynchronousStrategyWeb>

          <categoriesIntervalAsynchronousStrategyMaster set:type="Sitecore.Support.Search.Strategies.CategoriesIntervalAsynchronousStrategy, Sitecore.Support.322755">
            <param desc="maxMappingReloads">5</param>
            <param desc="itemsToIndexMinThreshold">100</param>
          </categoriesIntervalAsynchronousStrategyMaster>

          <categoriesIntervalAsynchronousStrategyWeb set:type="Sitecore.Support.Search.Strategies.CategoriesIntervalAsynchronousStrategy, Sitecore.Support.322755">
            <param desc="maxMappingReloads">5</param>
            <param desc="itemsToIndexMinThreshold">100</param>
          </categoriesIntervalAsynchronousStrategyWeb>

          <catalogsIntervalAsynchronousStrategyMaster set:type="Sitecore.Support.Search.Strategies.CatalogsIntervalAsynchronousStrategy, Sitecore.Support.322755">
            <param desc="maxMappingReloads">5</param>
            <param desc="itemsToIndexMinThreshold">100</param>
          </catalogsIntervalAsynchronousStrategyMaster>

          <catalogsIntervalAsynchronousStrategyWeb set:type="Sitecore.Support.Search.Strategies.CatalogsIntervalAsynchronousStrategy, Sitecore.Support.322755">
            <param desc="maxMappingReloads">5</param>
            <param desc="itemsToIndexMinThreshold">100</param>
          </catalogsIntervalAsynchronousStrategyWeb>

        </indexUpdateStrategies>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>